@use 'login';
@use 'layout';
@use 'colors' as *; 
@use 'fonts' as *;


* {
    box-sizing: border-box;
}

body {
    background-color: $blue;
    height: 100vh;
    font-family: $mainFont;
    background-image: url("https://picsum.photos/1200/1200");
    background-size: cover;
}

.skip {
    position: absolute;
    top: -1000px;

    background-color: $black;
    color: $white;

    &:focus {
        top: 100px;
    }
}

